name: 04-Using-Actions

on: push

jobs:
  build:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: 04-using-actions/react-app
      
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: setup node
        uses: actions/setup-node@v3
        with:
          node-version: '20.x'
      - name: Install dependencies
        run: npm ci
        
      - name: Run Unit Tests
        run: npm test 
        

   # 0. Checkout the code from the repository
   # 1. intall the dependencies of our react application
   # 2. Execute automated tests

  